[build]
target = "i686-pc-windows-msvc"

[global]
instance_id = "ES1"
reports_dir = "C:\\temp\\reports"
default_tcode = "VT11"
timezone = "-7"

[tcode.VT11]
variant = "testing_7"
layout = "my_layout"
date_range_start = "01/01/2023"
date_range_end = "12/31/2023"
by_date = "true"

[tcode.VL06O]
variant = "delivery_layout"
layout = "delivery_view"
column_name = "Shipment Number"

[tcode.ZMDESNR]
variant = "ua_all_stat_"
layout = "MY_LAYOUT"
# Example: specify the columns to use for the layout
layout_columns = [
  "Serial #",
  "Status",
  "Customer Name",
  "Storage Bin",
  "Material Number",
  "Qty",
  "Shipment Number",
  "Time"
]
tab_number = "2"
serial_number = "SN12345"
pre_export_back = true

[tcode.y_dn3_47000149]
plants = [
  "BRUH",
  "OTHER",
  "REBRUH"
]
mat_variant = "material_missing"
149_days_range = 5
export_type = 0

[loop]
tcode = "VT11"
iterations = "4"
delay_seconds = "15"
param_list_header = "Shipment Number"
param_set_field = "date"
param_set_value = ""
